/* reset */
ul, li{
	list-style: none;
	text-align: left;
	padding: 0;
	margin: 0;
}

/*a {
	color: #000;
}*/
/*public style*/
// html {
// 	font-size: 625%;
// }
body {
	text-align: center;
	font-family: "微软雅黑";
	font-size: 14px; //16px
	
}
h2 {
	font-size: 18px; //18px;
	font-weight: normal;
}

#content .section {
	margin-bottom: 50px;
}
#content .wrap {
	padding-top: 30px;
}
#content .left_wrap {
	padding-top: 10px;
	padding-left: 5%;
	padding-right: 5%;
}
#content .right_wrap {
	padding-left: 5%;
	padding-right: 5%;
}
#content .title {
	overflow: hidden;
	position: relative;
	margin-bottom: 10px;
}
#content .line{
	height: 100%;
	width: 25%;
	border-top: 1px solid #000;
}
.section .lineleft {
	position: absolute;
	top: 50%;
	left: 0%;
}
.section .lineright {
	position: absolute;
	top: 50%;
	right: 0%;
}
.section .icon {
	position: relative;
	width: 48px;
	height: 48px;
	border-radius: 50%;
	background-color: #000;
	margin: 0 auto;
}
.section .icon i {
	position: absolute;
	font-size: 34px;
	top: 50%;
	left: 50%;
	color: #fff;
	-webkit-transform: translate(-50%, -50%);
	-webkit-transition: all 0.5s;
}
.section .icon:hover i{
	-webkit-transform: translate(-40%, -60%);
}
#content .section .main_list li{
	position: relative;
	padding-left: 5%;
	/*height: 30px;*/
	line-height: 30px;
	font-weight: 500;
}
.main_list .bullet {
	position: absolute;
	left: 0;
	top: 0;
	font-size: 20px;
	height: 0;

}
#content .section .main_list h2 span {
	color: #a13322;
}
.right_wrap .main_list .bullet{
	top: -6px;
}

/* public style end */
/* header section */
#header {
	height: 60px;
}
/* header section end */

/* content */
#content .col-md-5{
	border-right: 1px solid #000;
}
#content .job-title {
	width: 100%;
	height: 300px;
	/*border: 1px solid #000;*/
	margin-bottom: 40px;
}
#content .right_wrap a {
	color: #a13322;
}
/* container */
/* container end */

/* job-title */
#content .job-title .avatar {
	width: 100px;
	margin: 0 auto;
}
#content .job-title .line{
	height: 100%;
	width: 15%;
	border-top: 1px solid #000;
}
#content .job-title h1 {
	font-size: 24px;
}
.left_wrap .job-title p {
	
	font-size: 12px;
}
.left_wrap .job-title .sub_title {
	color: #a13322;
	font-size: 14px;
}
/* contact section */
/*#content .contact .line{
	height: 100%;
	width: 10%;
	border-top: 1px solid #000;
}*/
#content .contact{
	overflow:hidden;
	margin-bottom: 30px;
}
#content .contact .list {
	height: 100%;
	padding: 0 10px;
}
#content .contact li {
	height: 30px;
	position: relative;
	padding-left: 5%;
	line-height: 30px;
	font-size: 14px;
	font-weight: 500;
}
#content .contact li span{
	position: absolute;
	left: 35%;
}
#content .qrcode {
	margin-top: 10px;
	max-width: 100%;
}
#content .download {
	width: 100%
}
#content .qr-wrap p{
	color: #a13322;
	font-size: 12px;
	margin-top: 5px;
}
/* skill section */
#content .skill {
	margin-bottom: 65px;
}
#content .skill .row {
	padding: 0 10px;
}
#content .skill span {
	text-align: right;
	// font-weight: 800;
}
#content .skill .progress {
	background-color: #a13322;
}
#content .skill .progress-bar {
	background-color: #000;
}

/* right section*/

/* overview */
/*#content .overview .line{
	height: 100%;
	width: 30%;
	border-top: 1px solid #000;
}*/
#content .overview {
	margin-bottom: 65px;
}
/* overview section end */
/* experience section */
#content .experience {
	margin-bottom: 50px;
}

#content .experience .main_list .list_title{
	height: auto;
}
#content .experience ul.details li{
	padding: 0;
}
/* experience section end*/

/* project section */
#content .project {
	margin-bottom: 50px;
}

#content .project .main_list .list_title{
	height: auto;
}

#content .project ul.details li{
	padding: 0;
}

//打印
// #content .qr-wrap p{
// 	font-size: 16px;
// } 
// #content .contact .list {
// 	padding-left: 50px;
// }
// #content .contact li {
// 	font-size: 18px;
// }
// #content .contact .qrcode {
// 	width: 150px;
// }
// #content .job-title p {
// 	font-size: 14px;
// }
// #content .job-title .sub_title {
// 	font-size: 20px !important;
// }
// #content .section .main_list li{
// 	line-height: 35px;
// }

/* project section end */
@media screen and (max-width: 768px) {
	#content .job-title {
		margin-bottom: 20px;
	}
	#content .col-md-5{
		border-right: none;
	}
	#content .contact-top {
		display: none;
	} 

}
@media screen and (min-width: 769px) {
	#content .contact-bottom {
		display: none;
	} 
}
@media screen and (max-width: 992px) {
	body{font-family:Helvetica;}
	#content .section .main_list li{
		padding-left: 10%;
		/*height: 30px;*/
		line-height: 25px;
	}
	#content .overview,
	#content .skill{
		margin-bottom: 50px;
	}
	.section .icon:hover i{
		-webkit-transform: translate(-50%, -50%);
	}
	#content .experience h2, 
	#content .project h2 {
		line-height: 30px;
	}
	#content .left_wrap {
		padding: 0;
	}
	#content .right_wrap {
		padding: 0;
	}
	.right_wrap .main_list .bullet {
		top: 1px;
	}
}
@media screen and (min-width: 1200px) {
	.right_wrap .main_list {
		margin-left: 1%; //10%
	}
}

