/*public style*/
html {
	font-size: 625%;
}
body {
	text-align: center;
	font-family: "微软雅黑"；
}
h2 {
	font-size: 0.18rem;
	font-weight: normal;
}
ul, li{
	list-style: none;
	text-align: left;
	padding: 0;
	margin: 0;
}
#content .section {
	margin-bottom: 50px;
}
#content .wrap {
	padding-top: 0.3rem;
}
#content .left_wrap {
	padding-top: 0.1rem;
	padding-left: 5%;
	padding-right: 5%;
}
#content .right_wrap {
	padding-left: 5%;
	padding-right: 5%;
}
#content .title {
	overflow: hidden;
	position: relative;
	margin-bottom: 10px;
}
#content .line{
	height: 100%;
	width: 25%;
	border-top: 1px solid #000;
}
.section .lineleft {
	position: absolute;
	top: 50%;
	left: 0%;
}
.section .lineright {
	position: absolute;
	top: 50%;
	right: 0%;
}
.section .icon {
	width: 48px;
	height: 48px;
	border-radius: 50%;
	background-color: #000;
	margin: 0 auto 10px;
}
.section .icon i {
	margin-top: 5px;
	font-size: 38px;
	color: #fff;
}

#content .section .main_list li{
	position: relative;
	padding-left: 5%;
	/*height: 30px;*/
	line-height: 30px;
}
#content .section .main_list .bullet {
	position: absolute;
	left: 0;
	top: 0;
	font-size: 0.2rem;

}
#content .section .main_list h2 span {
	color: #a13322;
}
/* header */
#header {
	height: 60px;
}

/* content */
#content .col-md-5{
	border-right: 1px solid #000;
}
#content .section1 {
	width: 100%;
	height: 300px;
	/*border: 1px solid #000;*/
	margin-bottom: 10px;
}
/* section1 */
#content .section1 .avatar {
	width: 100px;
	margin: 0 auto;
}
#content .section1 .line{
	height: 100%;
	width: 15%;
	border-top: 1px solid #000;
}
#content .section1 h1 {
	font-size: 24px;
}
#content .section1 p {
	color: #a13322;
	font-size: 10px;
}
#content .section1 .sub_title {
	font-size: 14px;
}
/* contact section */
/*#content .contact .line{
	height: 100%;
	width: 10%;
	border-top: 1px solid #000;
}*/
#content .contact .list {
	height: 100%;
	padding: 0 10px;
}
#content .contact li {
	height: 30px;
	position: relative;
	padding-left: 5%;
	line-height: 30px;
	font-size: 14px;
}
#content .contact li span{
	position: absolute;
	left: 30%;
}


/* right section*/

/* overview */
/*#content .overview .line{
	height: 100%;
	width: 30%;
	border-top: 1px solid #000;
}*/
#content .overview {
	margin-bottom: 50px;
}
/* experience section */
#content .experience {
	margin-bottom: 50px;
}
#content .experience .main_list .list_title{
	height: auto;
}
#content .experience .main_list .bullet{
	top: -6px;
}
#content .experience ul.details li{
	padding: 0;
}




@media screen and (max-width: 970px) {
	#content .section .main_list li{
		padding-left: 10%;
		/*height: 30px;*/
		line-height: 25px;
	}
}
